td{
	width: 30px;
	height: 30px;
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
	font-family: cursive;
}
table {
    margin-top: 30%;
    border: 1px solid #000; 
    margin: auto; 
}
.main-container{
    padding-top: 15%;
}